@model DinarakProject01.Models.BookClass
@{
    ViewBag.Title = "getBuy";
}
@if (ViewBag.getRole == null)
{
    <title>Buy Books</title>
    <ul class="left-menu">
        <li>
            <i class="fa fa-arrow-left" aria-hidden="true" onclick="location.href='/Books/getBooksTable/@ViewBag.getId'"
               style="color: #ef2d56; font-size: 30px; outline-color: #817049 "></i>
        </li>
    </ul>
    <ul class="right-menu">
        <li><a href="/MainPage/getMainPage" style="font-weight: bold;">Sign Out</a></li>
        <li><a href="mailto:qaisihabnimer@gmail.com" style="font-weight: bold;">Contact</a></li>
    </ul>
    <br />
    <br />
    using (Html.BeginForm("getBuy", "Books", FormMethod.Post))
    {
        if (Model != null)
        {
            <div>
                <h2>Buy @Model.BookName</h2>
                <img src="@Model.ImageLink" width="300" height="300" />
                <p>Author: @Model.Author</p>
                <p>Genres: @Model.TypeOfBook</p>
                <p>Description: @Model.DescriptionOfBook</p>
                <form id="buyForm">
                    <p>Maximum Number Of Books: @Model.NumOfBooks</p>
                    <input type="number" id="numOfBuyBooks" min="1" max="@Model.NumOfBooks" placeholder="Enter quantity" required />
                    <input type="button" id="buyBookBtn" value="Order Now">
                </form>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            function func() {
                    var scope = parseInt(document.getElementById("numOfBuyBooks").value);
                if (scope <= @Model.NumOfBooks) {
                    $.ajax({
                    type: 'POST',
                    url: '/Books/getBuy/@Model.SerialNumber/@ViewBag.getId',
                    data: { numOfBooks: scope },
                    success: function(response) {
                    window.location.href = '/Books/getBooksTable/@ViewBag.getId';
                    },
                    error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    alert("An error occurred while updating the number of books.");
                    }
                    });
                } else {
                    alert("You're trying to buy more books than available!");
                }
            }
                    document.getElementById('buyBookBtn').addEventListener('click', func);
            </script>
        }
        else
        {
            <p>No data available</p>
        }
    }
}
