@model DinarakProject01.ViewModel.ItemsViewModel
<ul class="left-menu">
    <li>
        <i class="fa fa-arrow-left" aria-hidden="true" onclick="location.href='/Books/getBooksTable/@ViewBag.getId'"
           style="color: #bc5e1bda; font-size: 30px; outline-color: #817049 "></i>
    </li>
    <li>
        <img src="~/Images/logo.png" alt="Alternate Text" id="logo_nav_id" onclick="location.href='/Books/getBooksTable/@ViewBag.getId'" />
    </li>
</ul>
<ul class="right-menu">
    <li>
        <input type="text" id="menuLabel" name="name" readonly value="@ViewBag.getRole : @ViewBag.nameRole" />
    </li>
    <li>
        <a id="signOut_id" style="font-weight: bold;">Sign Out</a>
        <script>
            document.getElementById("signOut_id").addEventListener("click", function (event) {
                event.preventDefault();
                swal({
                    title: "Are You Sure You Want To Sign Out?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willSignOut) => {
                    if (willSignOut) {
                        location.href = '/MainPage/getMainPage';
                    }
                });
            });
        </script>
    </li>
    <li>
        <a href="mailto:qaisihabnimer@gmail.com" style="font-weight: bold;">Contact</a>
    </li>
</ul>
<br /><br />
@using (Html.BeginForm("Export", "MainPage", FormMethod.Post))
{
    <input type="submit" value="Export" id="Export" />
}
@using (Html.BeginForm("Index", "MainPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" id="Browse" name="file" accept=".xlsx, .xls" />
    <br />
    <input type="submit" id="Import" value="Import" formaction="@Url.Action("Index", "MainPage", new { id = ViewBag.getId })" />
}

@using (Html.BeginForm("getLogin", "MainPage", FormMethod.Post))
{
    <table class="styled-table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Role</td>
                <td>User Name</td>
                <td>Password</td>
                <td colspan="2">Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Role</td>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                    <td>
                        <select id="DDL_userTable_@item.Id" onchange="updateAction(this.value, '@item.Id', '@ViewBag.getId')" style="background-color: #333333; color: white; border:hidden;">
                            <option value="">Select Action</option>
                            <option value="update">Update</option>
                            <option value="delete">Delete</option>
                        </select>
                    </td>
                    <td id="actionResult"></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("getLogin", new { page = Model.CurrentPage - 1 })">Previous</a>
        }

        Page @(Model.CurrentPage) of @(Model.TotalPages)

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("getLogin", new { page = Model.CurrentPage + 1 })">Next</a>
        }
    </div>

    <script>
        function updateAction(action, itemId, getId) {
            if (action === "delete") {
                swal("Are you sure you want to delete?", {
                    dangerMode: true,
                    buttons: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your record has been deleted!", {
                                icon: "success",
                            }).then(() => {
                                window.location.href = "/MainPage/deleteData/" + itemId + "/" + getId;
                            });
                        } else {
                            swal("Okay, you will not delete this item.");
                        }
                    });
            } else if (action === "update") {
                window.location.href = "/MainPage/getUpdate/" + itemId + "/" + getId;
            }
        }
    </script>
}

